extends layout

block title 
  title SA - #{title}

block content
  h1.grandtitle= title
  p Bienvenue dans "#{title}"

  section
    h2 Etape 1 : Importer un fichier 
    input(type='file', id='my_file_input')
    p#upload_message

  section
    h2 Envoi de requête
    h3 Retour de l'API
    p= retourAPI
    h3 Données envoyées
    code= post